.heading
{
    font-size: 43px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
    font-size: 16px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:brown;
    line-height: 3;
    text-align: center;
    font-size: 18px;

}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

body
{
    font-family:fantasy;
}